---
const { parentID, control, value } = Astro.props;
let name = parentID ? `${parentID}.${control.id}` : control.id;
---

<label>
    <input
        type="checkbox"
        class="form-check-input"
        data-parent={parentID}
        name={name}
        checked={!!value?.[control.id]}
    />
    {control.label && <span class="form-check-label">{control.label}</span>}
</label>
