---
import Control from "./Control.astro";

const { parentID, control, value } = Astro.props;
let cond = true;
if (control.if) {
	var x = new Function("value", control.if);
	cond = !!x(value);
}
---

{
	(
		<fieldset
			class={(cond ? "" : "d-none") + ' oneform-group'}
			disabled={!cond}
			data-parent={parentID}
			data-if={control.if}
		>
			{control.label && <legend>{control.label}</legend>}
			<div
				class={
					"d-flex gap-2 " +
					(control.horizontal ? "flex-row" : "flex-column")
				}
			>
				{control.children.map((child: any) => (
					<Control
						control={child}
						value={value}
						key={child.id}
						parentID={parentID}
					/>
				))}
			</div>
		</fieldset>
	)
}

<style is:global>
	fieldset.oneform-group > .flex-row > * {
		flex-grow: 1;
	}
</style>
