---
const { parentID, control, value } = Astro.props;
---

<label>
    {control.label && <div class="form-label">{control.label}</div>}
    <input
        type="number"
        name={`${parentID}.${control.id}`}
        data-parent={parentID}
        class="form-control"
        value={value?.[control.id]}
    />
</label>
