---
const { parentID, control, value } = Astro.props;
let name = parentID ? `${parentID}.${control.id}` : control.id;
---

<label>
	{control.label && <div class="form-label">{control.label}</div>}
	{
		(!control.variant || control.variant === "single-select") && (
			<select
				class="form-select"
				name={name}
				data-parent={parentID}
			>
				{(!value?.[control.id] || !control.required) && <option disabled={control.required} />}
				{Array.isArray(control?.values)
					? control.values.map((x: any) => (
							<option selected={x.value === value?.[control.id]}>
								{x.value}
							</option>
						))
					: null}
			</select>
		)
	}
</label>
