---
const { parentID, control, value } = Astro.props;
let name = parentID ? `${parentID}.${control.id}` : control.id;
---

<label>
	{control.label && <div class="form-label">{control.label}</div>}
	{
		(!control.variant ||
			control.variant === "single-select" ||
			control.variant === "multi-select") && (
			<select
				class="form-select"
				name={name}
				required={!!control.required}
				multiple={control.variant === "multi-select"}
				data-parent={parentID}
			>
				{(!value?.[control.id] || !control.required) && (
					<option disabled={control.required} />
				)}
				{Array.isArray(control?.values)
					? control.values.map((x: any) => (
							<option selected={x.value === value?.[control.id]}>
								{x.value}
							</option>
						))
					: null}
			</select>
		)
	}
	{
		(control.variant === "radio" || control.variant === "checkbox") &&
			(Array.isArray(control?.values)
				? control.values.map((x: any) => (
						<label class="form-check">
							<input
								class="form-check-input"
								type={control.variant}
								name={name}
								required={!!control.required}
								data-parent={parentID}
								checked={x.value === value?.[control.id]}
								value={x.value}
							/>
							<div class="form-check-label">{x.value}</div>
						</label>
					))
				: null)
	}
</label>
