---
const { parentID, control, value } = Astro.props;
let name = parentID ? `${parentID}.${control.id}` : control.id;
const variantMap = {
	numeric: "text",
	email: "email",
	tel: "tel",
	url: "url",
	"single-line": "text",
};
const inputModeMap = {
	numeric: "numeric",
	email: "email",
	tel: "tel",
	url: "url",
	"single-line": "text",
};
---

<label>
	{control.label && <div class="form-label">{control.label}</div>}
	{
		control.variant === "multi-line" ? (
			<textarea
				class="form-control"
				data-parent={parentID}
				name={name}
				placeholder={control.placeholder}
				maxlength={control.maxlength}
				required={!!control.required}
				set:text={value?.[control.id]}
			/>
		) : (
			<input
				type={
					// @ts-ignore
					variantMap?.[control.variant] || "text"
				}
				inputmode={
					// @ts-ignore
					inputModeMap?.[control.variant] || "text"
				}
				class="form-control"
				data-parent={parentID}
				placeholder={control.placeholder}
				name={name}
				required={!!control.required}
				value={value?.[control.id]}
			/>
		)
	}
</label>
