---
const { parentID, control, value } = Astro.props;
let name = parentID ? `${parentID}.${control.id}` : control.id;
---

<label>
	{control.label && <div class="form-label">{control.label}</div>}
	{
		control.variant === "multi-line" ? (
			<textarea
				class="form-control"
				data-parent={parentID}
				name={name}
				set:text={value?.[control.id]}
			/>
		) : (
			<input
				type={control.variant === "email" ? control.variant : "text"}
				class="form-control"
				data-parent={parentID}
				name={name}
				value={value?.[control.id]}
			/>
		)
	}
</label>
