---
const { parentID, control, value } = Astro.props;
let name = parentID ? `${parentID}.${control.id}` : control.id;

const variantMap = {
	date: "date",
	time: "time",
	week: "week",
	"date-time": "datetime-local",
	"year-month": "month",
};
---

<label>
	{control.label && <div class="form-label">{control.label}</div>}
	{
		(
			<input
				type={
					// @ts-ignore
					variantMap?.[control.variant] || "time"
				}
				class="form-control"
				data-parent={parentID}
				name={name}
				required={!!control.required}
				value={value?.[control.id]}
			/>
		)
	}
</label>
